<form class="{{cssClass}}" autocomplete="off">
    <header class="shee-header">
        <h1> 
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/> </h1>
        </h1>
    </header>
    <div>
        Axioms
        {{> systems/torgeternity/templates/partials/StatblockPartial.hbs stat=data.axioms statName="axioms"}}
    </div>
    <div>
        Attributes
        {{> systems/torgeternity/templates/partials/StatblockPartial.hbs stat=data.attributes statName="attributes"}}
    </div>
    <img src="{{actor.img}}" data-edit="img" title="{{item.name}}" height="128" width="128">
    <table>
        <tr>
            <th></th>
            <th>Current</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Wounds</td>
            <td><input name="data.wounds.value" type="text" value="{{data.wounds.value}}" data-dtype="Number"/></td>
            <td><input name="data.wounds.max" type="text" value="{{data.wounds.max}}" data-dtype="Number"/></td>
        </tr>
        <tr>
            <td>Shock</td>
            <td><input name="data.shock.value" type="text" value="{{data.shock.value}}" data-dtype="Number"/></td>
            <td><input name="data.shock.max" type="text" value="{{data.shock.max}}" data-dtype="Number"/></td>
        </tr>

    </table>
    <table>
        <tr>
            <th>R</th>
            <th>
            Combat Skills    
            </th>
            <th>Attr</th><th>Adds</th><th>Value</th>
        </tr>
        {{> systems/torgeternity/templates/partials/StatblockPartialVertical.hbs stat=data.skills type="combat"}}

        <tr>
            <th>R</th>
            <th>
            Interaction Skills    
            </th>
            <th>Attr</th><th>Adds</th><th>Value</th>
        </tr>
        {{> systems/torgeternity/templates/partials/StatblockPartialVertical.hbs stat=data.skills type="interaction"}}

        <tr>
            <th>R</th>
            <th>
            Other Skills    
            </th>
            <th>Attr</th><th>Adds</th><th>Value</th>
        </tr>
        {{> systems/torgeternity/templates/partials/StatblockPartialVertical.hbs stat=data.skills type="other"}}
    </table>
</form>
