{{#each stat}}{{#if (eq this.type ../type)}}
<tr>
    <td><a class="roll" data-rollTarget="skills.{{@key}}"><img src="icons/svg/d20.svg" class="iconButton"></a></td>
    <td>
        {{localize this.label}}
    </td>
    <td>
        {{this.attribute}} +
    </td>
    <td>
        <input name="data.skills.{{@key}}.adds" type="text" value="{{this.adds}}" data-dtype="Number"/>
    </td>
    <td>
        <strong>= {{this.value}}</strong>
    </td>
</tr>
{{/if}}{{/each}}
